$dark-mode-color: rgb(23, 25, 35);
$dark-mode-color2: #0c0d12;
$dark-mode-color-font: rgb(181, 181, 189);
$scrollbar-thumb-color: rgb(196, 196, 196);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body[data-theme="dark"] {
  @mixin dark-mode-layout-menu-item() {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #fff !important;
    i {
      color: #fff !important;
    }
    > a {
      color: #fff !important;
      i {
        color: #fff !important;
      }
    }
  }

  * {
    color: $dark-mode-color-font;
  }

  .text-limit {
    color: #1890ff !important;
  }

  .ty-popover__inner {
    box-shadow: 0 0 0.335rem rgba(255, 255, 255, 0.219);
  }

  color: $dark-mode-color-font;
  background-color: $dark-mode-color;

  .loader-page {
    background-color: $dark-mode-color;
  }
  .ty-popover__title {
    color: $dark-mode-color-font;
  }

  .ty-layout-sidebar,
  .ty-card,
  .ty-modal__header,
  .ty-input__input,
  .ty-textarea,
  .ty-btn_default,
  .ty-input-number__input,
  .ty-select-native,
  .ty-menu,
  .ty-popover__title,
  .ty-popover__content {
    background-color: $dark-mode-color2;
    border-color: $dark-mode-color-font;
  }

  .ty-menu {
    .ty-menu-item {
      &:hover small,
      &:hover i,
      &:hover > svg {
        color: #000 !important;
        stroke: #000;
      }
    }
  }

  .ty-layout-content,
  .ty-layout-header,
  .ty-modal__body {
    background-color: $dark-mode-color;
  }

  .ty-btn:not(.ty-btn_ghost) span {
    color: #000 !important;
    i {
      color: #000 !important;
    }
  }

  .ty-btn_ghost:hover {
    > span {
      color: #000 !important;
      i {
        color: #000 !important;
      }

      svg {
        stroke: #000;
      }
    }
  }

  .ty-btn.ty-btn_default {
    > span {
      color: $dark-mode-color-font !important;

      > i {
        color: $dark-mode-color-font !important;
      }
    }
  }

  .ty-tag {
    background-color: $dark-mode-color;
  }

  .layout-menu,
  .layout-menu-user {
    > li:hover {
      @include dark-mode-layout-menu-item();
    }

    .layout-menu-item-active,
    .ty-menu-item_active {
      @include dark-mode-layout-menu-item();
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 4px;
}

ol,
ul {
  list-style: none;
}

label {
  display: none;
  padding: 0.8rem;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  background: $dark-mode-color;

  label:focus {
    box-shadow: 0 0 0.135rem #fff;
  }
  svg {
    font-size: 3rem;
  }

  @media screen and (max-width: 990px) {
    display: block;
  }
}

#toggle-menu {
  display: none;
}

.ty-popup__arrow {
  &::before {
    background-color: $dark-mode-color2 !important;
  }

  left: 175px !important;
}

.loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layout-sidebar {
  padding: 1.5rem;
  height: 100%;
  max-width: 100% !important;
  width: 230px !important;

  > div:nth-child(1) {
    position: fixed;
    width: 210px;
  }

  .layout-nav {
    height: 85%;
    padding-right: 1rem;

    .layout-menu {
      margin-top: 4rem;
    }
  }

  @media screen and (max-width: 990px) {
    position: fixed;
    z-index: 999;
    left: -17rem;

    .layout-title {
      margin-top: 3.5rem;
    }

    #toggle-menu:checked ~ & {
      left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .layout-title {
      margin-top: 6rem !important;
    }
  }
}

.layout-title {
  margin-bottom: 2rem !important;
}

.layout-header {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.layout-content {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

.layout-menu-item-active {
  background: #4e2d8610;
  border-radius: 4px;
}

.layout-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  height: 100%;
  padding-right: 0.4rem;

  > li {
    border-radius: 4px;
    text-transform: capitalize;
    transition: background 0.2s ease-in;
    &:hover {
      background: #4e2d8610;
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  > li,
  a {
    color: inherit !important;
    text-decoration: none;

    &:hover {
      color: #4d2d86 !important;
    }
  }

  a {
    display: block;
    width: 100%;
    padding: 1.4rem 1rem;
  }

  @media screen and (max-width: 600px) {
    margin-top: 2rem !important;

    a {
      padding: 0.8rem;
    }
  }
}

.layout-menu-user {
  &::before {
    display: none !important;
  }

  > li {
    border-radius: 4px;
    text-transform: capitalize;
    border-right: 0 !important;
  }
}

.input-file-photo-user {
  padding: 7px;
  height: auto;
}

.cards-list {
  max-height: 800px;
  padding: 3px;
  overflow-y: auto;
}

.ty-card__header {
  display: flex;
  align-items: center;
}

.currentTask {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s bottom ease;

  &.currentTask-isMinimized {
    bottom: -5.8rem;

    .pomodoro-time {
      position: relative;
      background: #c93535;
      padding: 0.1rem 0.5rem;
      border-radius: 4px;
      top: -6.7rem;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
  }
  @media screen and (max-width: 500px) {
    .countdown-controls {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
