@mixin margin($direction, $classname) {
  @for $i from 0 to 11 {
    .#{$classname}-#{$i} {
      margin-#{$direction}: $i * 0.6rem !important;
    }
  }
}

@mixin padding($direction, $classname) {
  @for $i from 0 to 11 {
    .#{$classname}-#{$i} {
      padding-#{$direction}: $i * 0.6rem !important;
    }
  }
}

.text-capitalize {
  text-transform: capitalize !important;
  > * {
    text-transform: capitalize !important;
  }
}

.radius-4 {
  border-radius: 4px !important;
}

.center-v,
.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-v {
  flex-direction: column;
}

@include margin("top", "mt");
@include margin("bottom", "mb");
@include margin("left", "ms");
@include margin("right", "me");

@include padding("top", "pt");
@include padding("bottom", "pb");
@include padding("left", "ps");
@include padding("right", "pe");

