.text-capitalize {
  text-transform: capitalize !important;
  > * {
    text-transform: capitalize !important;
  }
}

.radius-4 {
  border-radius: 4px !important;
}

.center-v,
.center-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-v {
  flex-direction: column;
}
